@page "/"
@inject IExpressionFactory expressionFactory
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="row">
    <div class="col-6">
        <Code Title="Запрос" @bind-Value=@StringExpression class="col-12" style="height: 400px; border: 1px solid #aaaa" />
    </div>
    <div class="col-6">
        <Code Title="Данные" Language="json" @bind-Value=@Json class="col-12" style="height: 400px; border: 1px solid #aaaa" />
        <label style="color:orangered">@Errors</label>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <pre>@(ExpressionResult ?? ExpressionResult)</pre>
    </div>
</div>

@code{

    private string _Json;
    public string Json
    {
        get => _Json;
        set
        {
            _Json = value;
            Calculate();
        }
    }

    private string _StringExpression;
    public string StringExpression
    {
        get => _StringExpression;
        set
        {
            _StringExpression = value;
            Calculate();
        }
    }

    public string ExpressionResult { get; set; }

    public string Errors { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _Json = await httpClient.GetStringAsync(navigationManager.BaseUri + "defaultData.json");
        _StringExpression = await httpClient.GetStringAsync(navigationManager.BaseUri + "defaultExpression.txt");
        Calculate();
    }

    private void Calculate()
    {
        try
        {
            object obj = null;

            JsonSerializerOptions serializerOptions = new JsonSerializerOptions {
                WriteIndented = true,
                Encoder = JavaScriptEncoder.Create(UnicodeRanges.BasicLatin, UnicodeRanges.Cyrillic)
            };
            serializerOptions.Converters.Add(new JsonToDictionaryConverter());

            if (Json.StartsWith('{'))
                obj = JsonSerializer.Deserialize<Dictionary<string, object>>(Json, serializerOptions);
            else
                obj = JsonSerializer.Deserialize<IEnumerable<Dictionary<string, object>>>(Json, serializerOptions);

            IExpression expression = expressionFactory.Create(StringExpression);
            object res = expression.GetValue(obj);
            ExpressionResult = JsonSerializer.Serialize(res, serializerOptions);

            Errors = null;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Errors = ex.Message;
            StateHasChanged();
        }
    }
}